/** Proxima Nova **/

@font-face {
    font-family: 'proxima_nova_altblack';
    src: url('../assets/fonts/Proxima-Nova-Alt-Black.woff2') format('woff2'), url('../assets/fonts/Proxima-Nova-Alt-Black.woff') format('woff'), url('../assets/fonts/Proxima-Nova-Alt-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}   

@font-face {
    font-family: 'proxima_nova_altbold';
    src: url('../assets/fonts/Proxima-Nova-Alt-Bold.woff2') format('woff2'), 
    url('../assets/fonts/Proxima-Nova-Alt-Bold.woff') format('woff'), 
    url('../assets/fonts/Proxima-Nova-Alt-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima_Nova';
    src: url('../assets/fonts/Proxima-Nova-Alt-Regular.woff2') format('woff2'), 
    url('../assets/fonts/Proxima-Nova-Alt-Regular.woff') format('woff'), 
    url('../assets/fonts/Proxima-Nova-Alt-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_scosfthin';
    src: url('../assets/fonts/Proxima-Nova-ScOsf-Thin.woff2') format('woff2'), 
    url('../assets/fonts/Proxima-Nova-ScOsf-Thin.woff') format('woff'), 
    url('../assets/fonts/Proxima-Nova-ScOsf-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_semibold';
    src: url('../assets/fonts/Proxima-Nova-Semibold.woff2') format('woff2'), 
    url('../assets/fonts/Proxima-Nova-Semibold.woff') format('woff'), 
    url('../assets/fonts/Proxima-Nova-Semibold.ttf') format('truetype');
   
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_ltthin';
    src:url('../assets/fonts/Proxima-Nova-Thin.woff2') format('woff2'), 
    url('../assets/fonts/Proxima-Nova-Thin.woff') format('woff'), 
    url('../assets/fonts/Proxima-Nova-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

