<div class="backToHome withscroll">
  <div class="container-fluid">
    <div class="BacktoHomeLable">
      <a class="backIcon" (click)="navigateToHome()"></a>
      <span class="pageLabel">Memories</span>
    </div>
  </div>
</div>

<div class="memoriesWrapper pageScroll">

<div class="memoryblock">
  <div class="uploadEvents"><span class="uploadIcon" (click)="navigateToEventSelection()"></span></div>

  <div class="memoryItem" *ngFor="let memory of eventAlbums;let i = index">
    <div class="memoryName">
    <div class="eventDate">{{memory.Event_Date}}</div>
      <div class="eventName">{{memory.EventTitle}}</div>
      <div class="share">
        <div class="totalPhotos"><span class="icon imageIcon"></span>
          <span>{{memory.Images_count}}</span></div>
        <div class="sharefriends" data-toggle="modal" data-target="#sharewith">
          <span class="icon shareIcon" (click)="navigateToMemoriesShare(memory)"></span><span>{{memory.Shared_count}}</span></div>
      </div>
    </div>
    <div class="memoryPoster cleafix"  *ngIf="i%2==0" (click)="Navigation_memory_details(memory.Event_images,memory)">

     
          <div class="bigposter add"><img src="{{memory.Event_images.indexOf(',')>-1?cloudinaryMemoriesPath + memory.Event_images.split(',')[0]:cloudinaryMemoriesPath + memory.Event_images}}"></div>
          <div class="smallposter add">
            <img src="{{memory.Event_images.indexOf(',')>-1?cloudinaryMemoriesPath +memory.Event_images.split(',')[1]:'assets/images/homebanner.jpg'}}"
            onerror="this.onerror=null;this.src='assets/images/homebanner.jpg'">
            <img src="{{memory.Event_images.indexOf(',')>-1?cloudinaryMemoriesPath +memory.Event_images.split(',')[2]:'assets/images/homebanner.jpg'}}"
            onerror="this.onerror=null;this.src='assets/images/homebanner.jpg'">
          </div>
     
     
      
    </div>
    <div class="memoryPoster cleafix"  *ngIf="i%2 != 0" (click)="Navigation_memory_details(memory.Event_images,memory)">

         
        <div class="bigposter even"><img src="{{ memory.Event_images.indexOf(',')>-1?cloudinaryMemoriesPath + memory.Event_images.split(',')[0]:cloudinaryMemoriesPath +memory.Event_images}}"></div>
        <div class="smallposter even">
            <img src="{{ memory.Event_images.indexOf(',')>-1?cloudinaryMemoriesPath +memory.Event_images.split(',')[1]:'assets/images/homebanner.jpg'}}"
            onerror="this.onerror=null;this.src='assets/images/homebanner.jpg'">
            <img src="{{ memory.Event_images.indexOf(',')>-1?cloudinaryMemoriesPath +memory.Event_images.split(',')[2]:'assets/images/homebanner.jpg'}}" 
            onerror="this.onerror=null;this.src='assets/images/homebanner.jpg'">
        </div>
   
      </div>
    <div class="memoryCaption" *ngIf="memory.Event_caption!='NULL'"><span class="noteIcon"></span>{{memory.Event_caption}}</div>
  </div>
</div>
</div>







<div style="display:none">
<div class="modal-dialog full-dialog">
  <div class="modal-content">
    <div class="header">
      <div class="modal-body">
        <div class="container-fluid">
          <div class="heading">Select your event</div>
          <div class="searchmemorie">
            <input type="text" placeholder="Search your event here...">
          </div>

        </div>
      </div>
    </div>

    <ul class="eventItem">
      <li class="item">

        <div class="container-fluid">
          <div class="col-12">
            <span class="eventDate">5 Sep, 1:00 pm</span>
            <span class="moduleName">'Fun'ch with Friends</span>
            <span class="eventName">@ Heart Cup Coffee</span>
          </div>
        </div>

      </li>

      <li class="item">

        <div class="container-fluid">
          <div class="col-12">
            <span class="eventDate">5 Sep, 1:00 pm</span>
            <span class="moduleName">'Fun'ch with Friends</span>
            <span class="eventName">@ Heart Cup Coffee</span>
          </div>
        </div>

      </li>

      <li class="item">

        <div class="container-fluid">
          <div class="col-12">
            <span class="eventDate">5 Sep, 1:00 pm</span>
            <span class="moduleName">'Fun'ch with Friends</span>
            <span class="eventName">@ Heart Cup Coffee</span>
          </div>
        </div>

      </li>
    </ul>


    <div class="btnSection text-center clearfix">
      <span class="cancel"  (click)=cancelEventDialog()>cancel</span>
      <button class="blueBtn" (click)="selectEvent()">OK</button>
    </div>


  </div>
</div>
</div>

<div  style="display:none">
<div class="modal-dialog full-dialog">
  <div class="modal-content">
    <div class="header">
      <div class="modal-body">
        <div class="container-fluid">
          <div class="heading">Share with (12)</div>
          <div class="searchmemorie">
            <div class="newmember">Add New Member</div>
            <input type="text" placeholder="Type a name/number or select">
          </div>
          <ul class="contacts">
            <li class="member">
              <span class="image"> <img src="assets/images/homebanner.jpg"></span>
              <span class="name">Vadapalli Venugopal</span>
              <span class="check"><input type="checkbox"></span>
            </li>

            <li class="member">
              <span class="image"> <img src="assets/images/homebanner.jpg"></span>
              <span class="name">Vadapalli Venugopal</span>
              <span class="check"><input type="checkbox"></span>
            </li>

            <li class="member">
              <span class="image"> <img src="assets/images/homebanner.jpg"></span>
              <span class="name">Vadapalli Venugopal</span>
              <span class="check"><input type="checkbox"></span>
            </li>



          </ul>

        </div>
      </div>
    </div>

    <div class="btnSection text-center clearfix">
      <span class="cancel" href="#" data-dismiss="modal">cancel</span>
      <button class="blueBtn" id="mymodal" data-dismiss="modal">OK</button>
    </div>


  </div>
</div>
</div>
