.restaurantInfo {
    position: relative;
    padding: 20px 0 20px 120px;
    border-bottom: 1px solid #ccc;
    .vendorImage {
        width: 80px;
        height: 80px;
        background: #fff;
        padding: 5px;
        transform: rotate(45deg);
        border-radius: 4px;
        margin: 15px 0 0 0px;
        position: absolute;
        left: 15px;
        .rating {
            width: 48px;
            position: absolute;
            left: -33px;
            top: 20px;
            /* padding: 2px 0; */
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            text-align: center;
            height: 0;
            border-left: 0px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid #159ADC;
            font-size: 11px;
            .text {
                color: #fff;
                font-family: proxima_nova_semibold;
                position: absolute;
                top: -16px;
                left: 10px;
            }
        }
        img {
            width: 100%;
            height: 100%; //transform: rotate(-45deg);
        }
    }
    .vendorDetials {
        .itemDish {
            span {
                margin-right: 5px;
            }
        }
        .vendorTitle {
            @include font($font-proxima-semibold, normal, #3D3D3D, 16px);
            margin-bottom: 2px;
        }
        .vendorCuisines {
            @include font($font-proxima, normal, #5f5f5f, 12px);
        }
        .specs {
            padding-left: 25px;
            margin-bottom: 10px;
            position: relative;
            @include font($font-proxima, normal, #5f5f5f, 12px);
            .icon {
                width: 15px;
                height: 15px;
                position: absolute;
                left: 0;
                top: 0;
                &.icon-time {
                    background: url(../assets/images/common/opening-hours-icon.svg) no-repeat left top / 100% 100%;
                }
                &.icon-cost {
                    background: url(../assets/images/common/rupee-icon.svg) no-repeat left top / 100% 100%;
                }
                &.icon-location {
                    background: url(../assets/images/common/map-restaurant-icon.svg) no-repeat left top / 100% 100%;
                }
                &.icon-happyhours {
                    background: url(../assets/images/common/happy-hours-icon.svg) no-repeat left top / 100% 100%;
                }
            }
        }
        .description {
            @include font($font-proxima-semibold, normal, #3D3D3D, 11px);
            margin: 18px 0;
        }
        .buttonSec {
            .moreDetails {
                @include font($font-proxima-semibold, normal, #5F5F5F, 20px);
                letter-spacing: 1px;
                vertical-align: top;
                margin-right: 20px;
                padding: 6px;
            }
        }
    }
}

.funchRestaurant {
   .mapviewBtn{
       position: fixed;
       bottom:75px;
       right:20px;
       z-index: 1;
   }
   .restaurantList {
        margin-top:0;
        overflow: auto;
        height: calc(100vh - 320px);
    }
    .resCount{
        margin:15px 0 0;
    }


}

.nearPlace {
    margin-bottom: 18px;
    .secTitle {
        @include font($font-proxima-semibold,
        normal,
        #159ADC,
        12px);
    }
    .location {
        font-size: 12px;
        margin-top: 5px;
    }
}

.customOverlay.full {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    background: #fff;
}



.filterWrapper {
    background: rgba(255, 192, 1, 0.5);
    height: 100%;
    overflow: hidden;
    .filterHeader {
        background: #3e3e3e;
        padding: 15px;
        position: relative;
        position: fixed;
        width: 100%;
        top: 0;
        .title {
            color: #fff;
            font-size: 18px;
        }
        .close-icon-white {
            position: absolute;
            right: 15px;
            top: 18px;
            background: url(../assets/images/common/close-icon-white.svg) no-repeat left top;
            width: 12px;
            height: 12px;
        }
    }
    .filterCnt {
        margin: 50px 0 0;
        position: relative;
        height: 100%;
        .menu {
            width: 40%;
            .menuItems {
                .item {
                    color: #5F5F5F;
                    font-size: 14px;
                    padding: 15px;
                    &.active {
                        color: #3D3D3D;
                        font-family: 'proxima_nova_semibold';
                        background: #FEA541;
                    }
                }
            }
        }
        .options {
            width: 60%;
            background: #fff;
            right: 0;
            position: absolute;
            top: 0;
            height: 100%;
            .optionItems {
                .item {
                    color: #5F5F5F;
                    font-size: 14px;
                    padding: 15px;
                    border-bottom: 1px solid #ccc;
                    margin-left: 8px;
                    input {
                        display: inline-block;
                        vertical-align: middle;
                        width: 17px;
                        height: 17px;
                        &[type='radio'] {
                            &::before {
                                content: "";
                                background: #fff url(../assets/images/common/radio-unselected.svg) no-repeat left top;
                                width: 17px;
                                height: 17px;
                                display: inline-block;
                            }
                            &:checked {
                                &::before {
                                    background: #fff url(../assets/images/common/radio-selected.svg) no-repeat left top;
                                }
                            }
                        }
                        &[type='checkbox'] {
                            &::before {
                                content: "";
                                background: #fff url(../assets/images/common/checkbox-unselect.svg) no-repeat left top;
                                width: 17px;
                                height: 17px;
                                display: inline-block;
                            }
                            &:checked {
                                &::before {
                                    background: #fff url(../assets/images/common/checkbox-select.svg) no-repeat left top;
                                }
                            }
                        }
                    }
                    .optLable {
                        margin-left: 10px;
                        display: inline-block
                    }
                }
            }
        }
    }
    .filterFooter {
        padding: 15px;
        position: relative;
        position: fixed;
        width: 100%;
        bottom: 0;
        text-align: center;
        background: #fff;
        .icon-refresh {
            background: url(../assets/images/common/close-icon-white.svg) no-repeat left top;
            width: 12px;
            height: 12px;
        }
        button {
            color: #fff;
        }
    }
}

.filterIcon {
    background: url(../assets/images/common/filter-icon.svg) no-repeat;
}

.fakeBacktoHome{
   
    a{
        background-color: lightgrey;
        opacity: 0.5;
        height: 1em;
        margin-top: 10px;
        position: relative;
        background: linear-gradient(to right, #dddddd , #EEEEEE);
        animation: animatedBar 700ms linear infinite;
        
        &:after {
          position: absolute;
          display: block;
          content: '';
          right: 0;
          bottom: 0;
          top: 0;
          background-color: white;
        }
        width:50%;
    }
}

.fakeFunchRestaurant{
    .restaurantInfo {
        position: relative;
        padding: 20px 0 20px 120px;
        border-bottom: 1px solid #ccc;
        .vendorImage {
            width: 80px;
            height: 80px;
            padding: 5px;
            transform: rotate(45deg);
            border-radius: 4px;
            margin: 15px 0 0 0px;
            position: absolute;
            left: 15px;
            .rating {
                width: 48px;
                position: absolute;
                left: -33px;
                top: 20px;
                /* padding: 2px 0; */
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                text-align: center;
                height: 0;
                border-left: 0px solid transparent;
                border-right: 20px solid transparent;
                border-top: 20px solid #159ADC;
                font-size: 11px;
                .text {
                    color: #fff;
                    font-family: proxima_nova_semibold;
                    position: absolute;
                    top: -16px;
                    left: 10px;
                }
            }
            img {
                width: 100%;
                height: 100%; //transform: rotate(-45deg);
            }
        }
        .vendorDetials {
            .itemDish {
                span {
                    margin-right: 5px;
                }
            }
            .vendorTitle {
                @include font($font-proxima-semibold, normal, #3D3D3D, 16px);
                margin-bottom: 2px;
            }
            .vendorCuisines {
                @include font($font-proxima, normal, #5f5f5f, 12px);
            }
            .specs {
                padding-left: 25px;
                margin-bottom: 10px;
                position: relative;
                @include font($font-proxima, normal, #5f5f5f, 12px);
                .icon {
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    left: 0;
                    top: 0;
                   
                }
            }
            .description {
                @include font($font-proxima-semibold, normal, #3D3D3D, 11px);
                margin: 18px 0;
            }
            .buttonSec {
                .moreDetails {
                    @include font($font-proxima-semibold, normal, #5F5F5F, 20px);
                    letter-spacing: 1px;
                    vertical-align: top;
                    margin-right: 20px;
                    padding: 6px;
                }
            }
        }
    }
    
    .funchRestaurant {
       .mapviewBtn{
           position: fixed;
           bottom:75px;
           right:20px;
           z-index: 1;
       }
       .restaurantList {
            margin-top:0;
            overflow: auto;
            height: calc(100vh - 320px);
        }
        .resCount{
            margin:15px 0 0;
        }
    
    
    }
    
    .nearPlace {
        margin-bottom: 18px;
        .secTitle {
            @include font($font-proxima-semibold,
            normal,
            #159ADC,
            12px);
        }
        .location {
            font-size: 12px;
            margin-top: 5px;
        }
    }
    
 .stepsHeader, .secTitle,.location,.inputsearch,
 .resCount, .vendorTitle,.vendorCuisines,.specs,.buttonSec,.rating,.mapviewBtn,
 .icon,.nearPlace,.restaurantList,.vendorImage,.itemDish,.buttonSec,.stepstatus{
     background-color: lightgrey;
     opacity: 0.5;
     height: 1em;
     margin-top: 10px;
     position: relative;
     background: linear-gradient(to right, #dddddd , #EEEEEE);
     animation: animatedBar 700ms linear infinite;
     
     &:after {
       position: absolute;
       display: block;
       content: '';
       right: 0;
       bottom: 0;
       top: 0;
       background-color: white;
     }
 }

 
}